* {
	box-sizing: border-box;
} 

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
	min-width: 1240px;
	background-color: #849d8f;
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
	content: "";
	visibility: hidden;
}

.site-wrapper:before {
	background-image: url("../img/slide-2.png");
}

.site-wrapper:after {
	background-image: url("../img/slide-3.png");
}

h1 {
	font-size: 35px;
	line-height: 41px;
	margin-top: 0;
	margin-bottom: 25px;
}

h2 {
	font-size: 35px;
	line-height: 41px;
}

h3 {
	font-size: 24px;
	line-height: 30px;
}

h4 {
	font-size: 16px;
	line-height: 22px;
}

.main-header {
	min-height: 118px;
	margin-bottom: 20px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 27px;
	padding-right: 27px;
	outline: 1px dashed yellow;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
                                                                                          
.index-logo {
	float: left;
	min-height: 73px;
	width: 160px;
	margin-left: -5px;
	margin-right: 10px;
	padding-top: 15px;
}

.main-navigation {
	float: left;
	min-height: 73px;
	width: 406px;
	padding-top: 20px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation > ul li {
	position: relative;
    display: inline-block;
}

.menu-link {
	display: block;
	color: #ffffff;
	padding: 7px 14px;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
}

li:hover .menu-link {
	text-decoration: none;
	color: #323232;
	background: #ffffff;
	border-radius: 15px;
}

.main-navigation .drop-menu {
	display: none;
	position: absolute;
	z-index: 12;
	top: 37px;
	left: -6px;
	background-color: #ffffff;
	width: 143px;
	border-radius: 5px;
	padding: 0;
}

.menu-catalog:hover .drop-menu {
	display: block;
}

.drop-menu::before {
	content: "";
  	position: absolute;
	top: -5px;
	width: 100%;
  	height: 5px;
}

.drop-menu a {
	display: block;
	width: 143px;
	padding: 6px 20px;
	text-decoration: none;
	color: #323232;
	font-size: 14px;
	line-height: 16px;
	margin: 3px 0;
}

.drop-menu li:hover {
	background: #fbded7;
}

.drop-menu-head {
	font-weight: bold;
	border-radius: 5px 5px 0 0;
}

.drop-menu li:last-child {
	border-radius: 0 0 5px 5px;
}

.drop-menu-head::after {
	content: "";
	position: absolute;
	z-index: 2;
	bottom: -1px;
	left: 6px;
	height: 2px;
	width: 130px;
	background-color: #d1d0ce;
}

.main-navigation .active {
	text-decoration: none;
	color: #ffffff;
	background-color: #d07058;
	border-radius: 15px;
}

.user-block {
	float: right;
	min-height: 73px;
	width: 560px;
	padding-top: 26px;
	text-align: right;
} 

.user-block > div {
	display: inline-block;
}

.user-block-btn {
	display: inline-block;
	padding: 8px 0;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.search-btn {
	position: relative;
	border-radius: 50%;
	width: 33px;
	height: 33px;
	color: rgba(255, 255, 255, 0);
}

.search-btn::before {
	content: "";
	position: absolute;
	right: 8px;
	width: 17px;
    height: 17px;
	background: url("../img/spritesheet.png") no-repeat;
	background-position: -150px -64px;
}

.search {
	position: relative;
	margin-right: 8px;
}

.search-block {
	display: none;
	position: absolute;
}

.search:hover .search-block {
	display: block;
}

.login-btn {
	position: relative;
	padding-left: 45px;
	padding-right: 16px;
	border-radius: 15px;
}

.login-btn::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
    height: 19px;
	background: url("../img/spritesheet.png") no-repeat;
	background-position: -125px -5px;
}

.login {
	position: relative;
	margin-right: 8px;
}

.login-block {
	display: none;
	position: absolute;
}

.login:hover .login-block {
	display: block;
}

.basket-btn {
	position: relative;
	padding-left: 45px;
	padding-right: 18px;
	border-radius: 15px;
}

.basket-btn::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
    height: 20px;
	background: url("../img/spritesheet.png") no-repeat;
	background-position: -5px -5px;
}

.basket {
	position: relative;
}

.user-basket {
	position: absolute;
	display: none;
}

.contact {
	float: right;
	min-height: 45px;
	width: 267px;
	text-align: right;
}

.contact span {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
}

.contact span:last-child {
	font-size: 22px;
	line-height: 24px;
}

.slider {
  position: relative;
}

.slide {
	display: none;
	width: 680px;
	margin: 0 auto;
	padding-top: 210px;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.description {
	text-align: center;
}

.description p {
	font-weight: bold;
	font-size: 60px;
	line-height: 60px;
}

.btn {
	display: inline-block;
	background: #e74b36;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}

.description .btn {
	font-size: 32px;
	line-height: 44px;
	margin: -28px auto;
	padding: 13px 40px;
	border-radius: 35px;
}

.slider-controls {
	position: absolute;
	z-index: 10;
	left: 27px;
	bottom: 25px;
}

.slider-controls label {
 	display: inline-block;
	width: 17px;
 	height: 17px;
 	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
 	background-color: #ffffff;
}

.discount {
	margin-bottom: 40px;
}

.discount-item {
	float: left;
	width: 560px;
	min-height: 229px;
	margin-right: 26px;
	background: #c40d38 url("../img/fon-raspberry.jpg") no-repeat center top;
	border-radius: 15px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: right;
}

.discount-item:last-child {
	margin-right: 0;
	background: #653a23 url("../img/fon-choсo.jpg") no-repeat center top;
}

.discount-item h2 {
	margin-top: 15px;
	margin-bottom: 9px;
	text-align: left;
}

.discount-item p {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: left;
	margin-bottom: 44px;
}

.discount-item .btn {
	border-radius: 23px;
	padding: 12px 22px;
	font-size: 18px;
	line-height: 24px;
}

.popular {
	margin-bottom: 20px;
}

.product {
	min-height: 1100px;
	margin-bottom: 30px;
}

.popular-item,
.product-item  {
	float: left;
	margin-right: 26px;
	min-height: 342px;
	width: 267px;
	text-align: center;
}

.popular-item:last-child {
	margin-right: 0;
}

.product-item:nth-child(4n) {
	margin-right: 0;
}

.popular-item-img,
.product-item-img {
	position: relative;
	margin-bottom: 8px;
}

.popular-item-img .hit {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
}

.popular-item-img p,
.product-item-img p {
	position: absolute;
	top: 163px;
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
}

.popular-item-img span,
.product-item-img span {
	font-size: 30px;
}

.popular-item a,
.product-item a {
	color: #ffffff;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.seo {
	min-height: 306px;
	margin-bottom: 40px;
	color: #323232;
	padding: 23px 20px;
	background: #f1e7ce url("../img/wafer-fon.jpg") no-repeat;
	border-radius: 14px;
}

.seo h3 {
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.seo-item {
	float: left;
	width: 540px;
	margin-right: 26px;
	position: relative;
}

.seo-item:nth-child(2n+1) {
	margin-right: 0;
}

.seo-item img {
	position: absolute;
	left: 0;
	top: 10px;
}

.seo-item p {
	padding-left: 57px;
	padding-top: 8px;
	padding-right: 5px;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 0;
}

.blog-and-sub {
	margin-bottom: 40px;
	color: #323232;
}

.blog {
	float: left;
	margin-right: 26px;
	min-height: 220px;
	width: 560px;
	padding: 24px 250px 20px 20px;
	background: #ffffff url("../img/fon-strawberry.jpg") no-repeat;
	border-radius: 14px;
}

.blog h4 {
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 7px;
}

.blog a {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #323232;
}

.sub {
	float: left;
	position: relative;
	z-index: 1;
	min-height: 220px;
	width: 560px;
	border-radius: 14px;
	background-color: #ffffff;
	border: 5px solid transparent;
	padding: 10px 20px;
	text-align: right;
}

.sub::before {
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	z-index: -1;
	width: 560px;
	height: 220px;
	background: url("../img/fon-post.png") no-repeat top center;
}

.sub p {
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
	margin-bottom: 37px;
	text-align: left;
}

.sub .email {
	width: 364px;
	height: 44px;
	margin-right: 10px;
	border-radius: 4px;
	border: 1px solid #d3d3d2;
	outline: none;
	padding-left: 5px;
}

.sub .btn {
	font-size: 18px;
	line-height: 24px;
	padding: 12px 20px;
	border-radius: 35px;
	border: none;
	outline: none;
	cursor: pointer;
}

.map-contacts {
	position: relative;
	width: 1200px;
	min-height: 430px;
	margin: 0 auto;
}

.yandex-map {
	width: 1200px;
	height: 430px;
	background: url("../img/map.jpg") no-repeat top center;
}

.contact-us {
	float: right;
	position: absolute;
	top: 62px;
	right: 27px;
	color: #323232;
	background: #ffffff;
	width: 302px;
	height: 306px;
	border-radius: 13px;
	padding: 15px 25px;
}

.contact-us p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 22px;
}

.contact-us b{
	display: block;
	font-size: 18px;
	line-height: 24px;
	margin: 2px 0;
}

.contact-us .btn {
	width: 253px;
	border-radius: 23px;
	padding: 11px 20px;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}

.breadcrumbs-block {
	min-height: 20px;
	width: 267px;
}

.breadcrumbs {
    margin-top: -20px; 
	padding: 0;
}
   
.breadcrumbs li {
    display: inline-block;
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs li::before {
    content: "»";
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
}

.breadcrumbs li:first-child::before {
    content: "";
}

.breadcrumbs a {
	color: #ffffff;
}

.filter {
	min-height: 157px;
	width: 879px;
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.filter fieldset {
	display: inline-block;
	border: none;
}

.filter legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	padding-left: 16px;
}

.filter .filter-block {
	height: 36px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
	padding-top: 10px;
	padding-left: 16px;
	padding-right: 16px;
}

.filter-btn {
	height: 36px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
	border: 2px solid #fcfcfc;
	padding-left: 28px;
	padding-right: 28px;
}

.pages {
	float: right;
	width: 190px;
	height: 27px;
	margin-bottom: 35px;
}

.feedback {
	position: absolute;
	display: none;
	height: 442px;
	width: 478px;
	color: #323232;
	background: #ffffff;
}

.main-footer {
	min-height: 103px;
	padding: 20px;
}

.footer-social {
	float: left;
	width: 267px;
	margin-right: 26px;
	padding-top: 15px;
}

.social-btn {
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	border: 4px solid rgba(255, 255, 255, 0.4);
	background: url("../img/spritesheet.png") no-repeat;
	margin-right: 9px;
}

.social-btn-twit {
	background-position: -7px -152px;
}

.social-btn-inst {
	background-position: -49px -88px;
}

.social-btn-fb {
	background-position: -7px -65px;
}

.social-btn-vk {
	background-position: -50px -152px;
}

.footer-nav {
	float: left;
	width: 560px;
	margin-right: 26px;
	padding-left: 128px;
	padding-right: 120px;
}

.footer-nav ul {
	padding: 0;
	margin-top: 15px;
}

.footer-nav li {
	float: left;
	position: relative;
	height: 23px;
	min-width: 142px;
	list-style: none;
	font-size: 13px;
	line-height: 18px;
}

.footer-nav a {
	color: #ffffff;
}

.footer-nav a::before {
	content: "";
	display: none;
  	position: absolute;
	top: 2px;
	left: -22px;
	width: 15px;
  	height: 13px;
	background: url("../img/spritesheet.png") no-repeat;
	background-position: -125px -63px;
}

.footer-nav a:hover {
	font-weight: bold;
}

.footer-nav a:hover::before {
	display: block;
}

.html-academy {
	float: left;
	width: 267px;
	position: relative;
}

.html-academy > a {
	position: relative;
	left: 78px;
}

.html-academy p {
	margin-top: 2px;
	font-size: 12px;
	line-height: 18px;
	text-align: right;
}

.html-academy p a {
	color: #ffffff;
}